body {
  font-family: "Roboto", sans-serif;
  background-color: #0f0e16;
  font-size: 14px;
}

/* Skills CSS */
.skill h3 {
  color: white;
  font-weight: bold;
}

.skill p {
  color: white;
  margin-bottom: 0;
}

.skill .skills-title {
  display: flex;
  justify-content: space-between;
}

.skill .progress-bars {
  margin-bottom: 20px;
}

.progress-bar {
  background-color: #0bceaf;
}

.skill .progress {
  height: 7px;
}

.circle-progress-bars {
  margin-bottom: 30px;
}

.progress-cir {
  width: 100px;
  height: 100px;
  line-height: 100px;
  background: none;
  margin: 0 auto;
  box-shadow: none;
  position: relative;
}
.progress-cir .progress-value {
  color: white;
}
.progress-cir:after {
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 7px solid #eee;
  position: absolute;
  top: 0;
  left: 0;
}
.progress-cir > span {
  width: 50%;
  height: 100%;
  overflow: hidden;
  position: absolute;
  top: 0;
  z-index: 1;
}
.progress-cir .progress-left {
  left: 0;
}
.progress-cir .progress-bar {
  width: 100%;
  height: 100%;
  background: none;
  border-width: 7px;
  border-style: solid;
  position: absolute;
  top: 0;
  border-color: #0bceaf;
}
.progress-cir .progress-left .progress-bar {
  left: 100%;
  border-top-right-radius: 75px;
  border-bottom-right-radius: 75px;
  border-left: 0;
  -webkit-transform-origin: center left;
  transform-origin: center left;
}
.progress-cir .progress-right {
  right: 0;
}
.progress-cir .progress-right .progress-bar {
  left: -100%;
  border-top-left-radius: 75px;
  border-bottom-left-radius: 75px;
  border-right: 0;
  -webkit-transform-origin: center right;
  transform-origin: center right;
}
.progress-cir .progress-value {
  display: flex;
  border-radius: 50%;
  font-size: 20px;
  text-align: center;
  line-height: 20px;
  align-items: center;
  justify-content: center;
  height: 100%;
  font-weight: 300;
}
.progress-cir .progress-value span {
  font-size: 12px;
  text-transform: uppercase;
}
/* This for loop creates the necessary css animation names Due to the split circle of progress-left and progress right, we must use the animations on each side. */
.progress-cir[data-percentage="10"] .progress-right .progress-bar {
  animation: loading-1 1.5s linear forwards;
}
.progress-cir[data-percentage="10"] .progress-left .progress-bar {
  animation: 0;
}
.progress-cir[data-percentage="20"] .progress-right .progress-bar {
  animation: loading-2 1.5s linear forwards;
}
.progress-cir[data-percentage="20"] .progress-left .progress-bar {
  animation: 0;
}
.progress-cir[data-percentage="30"] .progress-right .progress-bar {
  animation: loading-3 1.5s linear forwards;
}
.progress-cir[data-percentage="30"] .progress-left .progress-bar {
  animation: 0;
}
.progress-cir[data-percentage="40"] .progress-right .progress-bar {
  animation: loading-4 1.5s linear forwards;
}
.progress-cir[data-percentage="40"] .progress-left .progress-bar {
  animation: 0;
}
.progress-cir[data-percentage="50"] .progress-right .progress-bar {
  animation: loading-5 1.5s linear forwards;
}
.progress-cir[data-percentage="50"] .progress-left .progress-bar {
  animation: 0;
}
.progress-cir[data-percentage="60"] .progress-right .progress-bar {
  animation: loading-5 1.5s linear forwards;
}
.progress-cir[data-percentage="60"] .progress-left .progress-bar {
  animation: loading-1 1.5s linear forwards 1.5s;
}
.progress-cir[data-percentage="70"] .progress-right .progress-bar {
  animation: loading-5 1.5s linear forwards;
}
.progress-cir[data-percentage="70"] .progress-left .progress-bar {
  animation: loading-2 1.5s linear forwards 1.5s;
}
.progress-cir[data-percentage="80"] .progress-right .progress-bar {
  animation: loading-5 1.5s linear forwards;
}
.progress-cir[data-percentage="80"] .progress-left .progress-bar {
  animation: loading-3 1.5s linear forwards 1.5s;
}
.progress-cir[data-percentage="90"] .progress-right .progress-bar {
  animation: loading-5 1.5s linear forwards;
}
.progress-cir[data-percentage="90"] .progress-left .progress-bar {
  animation: loading-4 1.5s linear forwards 1.5s;
}
.progress-cir[data-percentage="100"] .progress-right .progress-bar {
  animation: loading-5 1.5s linear forwards;
}
.progress-cir[data-percentage="100"] .progress-left .progress-bar {
  animation: loading-5 1.5s linear forwards 1.5s;
}
@keyframes loading-1 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(36);
    transform: rotate(36deg);
  }
}
@keyframes loading-2 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(72);
    transform: rotate(72deg);
  }
}
@keyframes loading-3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(108);
    transform: rotate(108deg);
  }
}
@keyframes loading-4 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(144);
    transform: rotate(144deg);
  }
}
@keyframes loading-5 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(180);
    transform: rotate(180deg);
  }
}

/* End Skills CSS */

/* Portfolio CSS */
.portfolio {
  margin: 40px 0;
}

.portfolio h3 {
  color: white;
  font-weight: bold;
  margin-bottom: 30px;
}

.portfolio .nav {
  justify-content: space-evenly;
}

.portfolio .nav-pills .nav-link.active {
  background-color: transparent;
  border-bottom: 2px solid #007bff;
  border-radius: 0;
}

.portfolio .nav .nav-item a {
  color: white;
  font-weight: bold;
}

.portfolio .tab-content img {
  border-radius: 10px;
}

.portfolio .img-tn {
  position: relative;
  margin-bottom: 30px;
}

.portfolio .img-tn .on-hover {
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  justify-content: center;
  color: white;
  background: green;
  border-radius: 10px;
  opacity: 0;
}

.portfolio .img-tn .on-hover:hover {
  opacity: 0.7;
  text-decoration: none;
}
/* End Portfolio CSS */

/* Exp */
.exp .card {
  box-shadow: -1rem 0 3rem #000;
  width: 90%;
  margin: 0 auto;
  padding: 5px;
  background-color: #1e1e24;
}
.card-title {
  font-size: 20px;
  line-height: 30px;
  font-weight: 600;
}
.card-year {
  margin: 10px 0;
  color: #0bceaf;
  font-size: 13px;
}
.card-text {
  font-size: 14px;
  line-height: 23px;
  margin-bottom: 0;
  font-weight: 500;
}
.card-link {
  font-style: italic;
  margin-left: 4px;
  color: #0bceaf;
}
.title-card {
  font-size: 30px;
  line-height: 40px;
  font-weight: bold;
  margin-bottom: 60px;
  width: 90%;
  margin: 0 auto;
}
/* End Exp */

/* Blog */
.blog-title > a {
  color: #d2d2d4 !important;
}
.blog-title > a:hover {
  color: #0bceaf !important;
  text-decoration: none;
}
.blog-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
}
.blog-post .blog-post--list {
  display: flex;
  list-style: none;
  padding: 0;
}

.blog-post .blog-post--item {
  padding: 0 10px 0 0;
}
.blog-post .blog-post--item a {
  padding-left: 5px;
}
.blog-card {
  background-color: #1d1d24;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border: none;
}

.blog-body a {
  color: #0bceaf;
}

a.blog-link {
  font-size: 14px;
  text-decoration: none;
}

a.blog-link:hover {
  color: #09f3cd;
}

.card-img-top {
  width: 100%;
  border-top-left-radius: calc(0.25rem - 1px);
  border-top-right-radius: calc(0.25rem - 1px);
  background: #0f0e16;
}

/* End Blog */
